<body id = "indexBody">
<h1>LISTING PEOPLE</h1>



<table id = "table">
    
    <thead id = "tHead">
    <tr id = "firstLine">
        <td></td>
        <td>name</td>
        <td>weight</td>
        <td>height</td>
        <td>color</td>
        <td colspan = "3"></td>
    </tr>
    </thead>
    
    <tbody id = "tBody">
        <% @person.each do |person| %>
        <tr id = "rows">
            <td> <%= person.id %></td>
            <td> <%= person.name %></td>
            <td> <%= person.weight %></td>
            <td> <%= person.height %></td>
            <td> <%= person.color %></td>
            <td> <%= link_to "Destroy", person, method: :delete %> </td>
            <td> <%= link_to "Show", person_path(person) %> </td>
            <td> <%= link_to "Edit", edit_person_path(person) %> </td>
            
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to "ADD SOMEONE NEW", new_person_path, class: "newUser" %>


</div>

</body>